.ruby, .python, .swift, .tieNotSwift, .tieNotRuby, .tieNotPython {
  display: none;
  margin-top: 300px;
}
.ruby .well, .python .well, .swift .well, .tieNotSwift .well, .tieNotRuby .well, .tieNotPython .well {
  background-color: #ffc9a3;
  border: solid;
  border-color: #7f95d1;
}
#greeting {
  text-align: center;
  font-family: inherit;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #97aeef;
  border: solid;

}
#greeting h2 {
  text-transform: uppercase;
  text-decoration: underline;
}
#survey {
  border: solid;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  border-color: #7f95d1;

}
#survey .well {
  background-color: #ffc9a3;
}
body {
  background-color: #ffebe7;
  /* background-image: url('https://media.giphy.com/media/gG0NMjYMqNKQo/giphy.gif'); */
  background-size: cover;



  height: 100vh;
  padding:0;
  margin:0;
}
